@font-face {
    font-family: 'Sketchy';
    src: url('../fonts/KGBrokenVesselsSketch.woff') format('woff');
	src: url('../fonts/KGBrokenVesselsSketch.ttf') format('truetype');
}
@font-face {
    font-family: 'Interstate';
    src: url('../fonts/Interstate-Light.woff') format('woff');
	src: url('../fonts/Interstate-Light.ttf') format('truetype');
}