*,.row,p,h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
}
html {
    height: 100%;
}
body, div, input, button, select, textarea, p, h1, h2, h3, h4, h5, h6, .navbar-search .search-query,.alert{
	
}
input, button, select, textarea, p, h1, h2, h3, h4, h5, h6 {
	
}
body {
	position: relative;
	height: 100%;
}
a, a:hover {
	color: inherit;
	text-decoration: none;
}
button{
	outline: none !important;
}
.animated{
	-webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}
.centered{
	margin: 0px auto;
	float: none;
}
.custom-textarea {
	resize: none;
}
.no-padding {
	padding: 0px;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.wrapper {
	max-width: 800px;
	margin: 0px auto;
	height: 100%;
}




.page {
    height: 100%;
}








